<!doctype html>  
<html >  
<head>  
    <title>Example API call</title>  
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="/javascripts/marked.min.js"></script>
	<script>  
		var app = angular.module('app', []);
		app.controller('MainCtrl',function ($scope,$sce,$http) {

		function BindData() {
		    $http.get('<%= model.url %>').
		        success(function(data) {
		            $scope.msg = data.msg;
		        });
		}

		BindData();
	});
	</script>  
</head>  
<body>
<div ng-app="app">
	<div ng-controller="MainCtrl" class = "container">
		<b><div ng-bind="msg" ></div></b><br/>
		<div ng-bind-html="body" ></div><br/>
		<img ng-src="{{imageurl}}" />
	</div>
</div>
</body>  
</html>